body {
    height: 100vh;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: #f2acac;
    font-family: 'Mochiy Pop P One', sans-serif;
  }

  .pop-letter {
    position: absolute;
    top: 90px;
    left: 25%;
    transform: translateX(-50%);
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    margin: 0;
    transition: transform 0.2s ease-in-out;
    animation: popLoop 1.9s infinite ease-in-out;
}

  .pop-letter-two:hover {
    transform: scale(1.3);
    color: #ff4081;
  }

  .pop-letter-two {
    position: absolute;
    top: 250px;
    left: 25%;
    transform: translateX(-50%);
    font-size: 60px;
    font-weight: bold;
    color: #fff;
    margin: 0;
    transition: transform 0.2s ease-in-out;
    animation: popLoop 1.9s infinite ease-in-out;
}

  .pop-letter:hover {
    transform: scale(1.3);
    color: #ff4081;
  }


  @keyframes popLoop {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }

  .kitty {
        position: absolute;
        bottom: 100px;
        left: 900px;
        width: 400px;
        border-radius: 20px;
        transition: transform 0.2s ease-in-out;
        animation: popLoop 1.9s infinite ease-in-out;
  }
  
  .redirect-button {
    text-align: center;
    padding: 20px;
    margin: 40px 0 20px 0;
  }
  
  .redirect-button button {
    padding: 12px 24px;
    font-size: 30px;
    background-color: #ff4d6d;
    border: none;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .redirect-button button:hover {
    background-color: #35050e;
  }
  