body {
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: #f2acac;
  font-family: 'Mochiy Pop P One', sans-serif;
}

input#open {
  display: none;
}

.card-container {
  display: flex; 
  gap: 40px; 
}

.valentines-day-card {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: inherit;
  transform: perspective(2500px);
  transition: .3s;
} 

.card-front {
  position: relative;
  background-color: #c41135;
  width: 300px;
  height: 300px;
  transform-origin: left;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.15), 30px 0 50px rgba(0, 0, 0, 0.3);
  transition: .3s;
  
}

.card-front:before {
  content: "";
  position: absolute;
  width: 280px;
  height: 280px;
  background-color: #d04e4e;
  top: 10px;
  left: 10px;
  
}



.card-inside {
  position: absolute;
  background-color: #dbd3d4;
  width: 300px;
  height: 300px;
  z-index: -1;
  left: 0;
  top: 0;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.22), 100px 20px 100px rgba(0, 0, 0, 0.1);
}

.open {
  position: absolute;
  width: 300px;
  height: 300px;
  left: 0;
  top: 0;
  background-color: transparent;
  z-index: 6;
  cursor: pointer;
}


#open1:checked ~ .card-front,
#open2:checked ~ .card-front,
#open3:checked ~ .card-front,
#open4:checked ~ .card-front {
  transform: rotateX(190deg);
  transform-origin: top; 
  transition: transform 0.6s ease-in-out; 
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.13), 30px 0 50px rgba(0, 0, 0, 0.1);
}

#open1:checked ~ .card-front:before,
#open2:checked ~ .card-front:before,
#open3:checked ~ .card-front:before,
#open4:checked ~ .card-front:before {
  z-index: 5;
  background-color: #e0254b;
  width: 300px;
  height: 300px;
  top: 0;
  left: 0;
  box-shadow: inset 100px 20px 100px rgba(0, 0, 0, 0.1), 30px 0 50px rgba(0, 0, 0, 0.1);
}

.note {
  position: relative;
  width: 200px;
  height: 150px;
  background-color: #fff0f3;
  top: 75px;
  left: 50px;
  color: #333;
  font-size: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  filter: drop-shadow(0 0 20px rgba(0, 0, 0, 0.3));
}

.note:before,
.note:after {
  position: absolute;
  content: "";
  background-color: #ba1c1c;
  width: 40px;
  height: 40px;
}

.note:before {
  transform: rotate(-45deg);
  top: -20px;
  left: 80px;
}

.note:after {
  border-radius: 50%;
  top: -35px;
  left: 65px;
  box-shadow: 30px 0 #ba1c1c;
}

.text-one,
.text-two,
.text-three,
.text-four {
  position: absolute;
  color: #333;
  font-size: 30px;
  top: 30px;
  width: 300px;
  text-align: center;
}

.text-one:before,
.text-one:after,
.text-two:before,
.text-two:after,
.text-three:before,
.text-three:after,
.text-four:before,
.text-four:after {
  position: absolute;
  left: 5px;
  text-align: center;
  width: 300px;
}

.text-one:before {
  content: "my prettiest";
  top: 30px;
  color: #d04e4e;
}

.text-two:before {
  content: "My buotan na";
  top: 30px;
  color: #d04e4e;
}

.text-three:before {
  content: "Sweet & caring";
  top: 30px;
  color: #d04e4e;
}

.text-four:before {
  content: "My one & only";
  top: 30px;
  color: #d04e4e;
}

.text-one:after
.text-two:after
.text-three:after
.text-four:after {
  content: "Hani";
  top: 60px;
}

.heart {
  position: relative;
  background-color: #d04e4e;
  height: 60px;
  width: 60px;
  top: 180px;
  left: 120px;
  transform: rotate(-45deg);
  animation: 0.8s beat infinite;
}

.heart:before,
.heart:after {
  content: "";
  background-color: #d04e4e;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  position: absolute;
}

.heart:before {
  top: -30px;
  left: 0;
}

.heart:after {
  left: 30px;
  top: 0;
}

.smile {
  position: absolute;
  width: 30px;
  height: 15px;
  background-color: #333;
  z-index: 1;
  border-radius: 0 0 100px 100px;
  top: 200px;
  left: 135px;
  overflow: hidden;
}

.smile:before {
  content: "";
  position: absolute;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #030202;
  top: 5px;
  left: 5px;
}

.eyes {
  position: absolute;
  border-radius: 50%;
  background-color: #333;
  width: 10px;
  height: 10px;
  z-index: 1;
  top: 190px;
  left: 165px;
  box-shadow: -40px 0 #333;
  transform-origin: 50%;
  animation: close 2s infinite;
}

@keyframes close {
  0%,
  100% {
    transform: scale(1, 0.05);
  }
  5%,
  95% {
    transform: scale(1, 1);
  }
}

@keyframes beat {
  0%,
  40%,
  100% {
    transform: scale(1) rotate(-45deg);
  }
  25%,
  60% {
    transform: scale(1.1) rotate(-45deg);
  }
}

.redirect-button {
  text-align: center;
  padding: 20px;
  margin: 40px 0 20px 0;
}

.redirect-button button {
  padding: 12px 24px;
  font-size: 30px;
  background-color: #ff4d6d;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.redirect-button button:hover {
  background-color: #35050e;
}
